/* Global reset */
*{
    margin: 0;
    padding: 0;
    overflow: hidden;
}

/* Body styles */
body{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
}

/* Main container styles */
.container{
    height: 80vh;
    width: 70vw;
    background-color: #1E1E24;
    color:white;
    box-shadow: 20px 15px 30px 4px rgba(0, 0, 0, 0.462);
    border-radius: 10px;
}

/* Header styles */
#small{
    display: flex;
    padding-left: 2%;
    font-weight: bold;
    align-items: center;
    height: 20%;
    width: 100%;
    font-size: 10vh;
    border-bottom: 1px solid rgba(255, 255, 255, 0.434);
}

/* Content container styles */
.small-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    width: 100%;
}

/* Left section styles */
.left{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 30%;
}

/* Right section styles */
.right{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    height: 100%;
    width: 70%;
    border-left: 1px solid rgba(255, 255, 255, 0.434);
}

/* Button and form styles */
button,form{
    height: 10%;
    flex-basis: 35%;
    border: none;
    background-color: white;
    border-radius: 4px;
    transition: all 0.2s linear;
    font-size: 15px;
}

/* Button inside form styles */
form > button{
    height: 100%;
    width: 100%;
}

/* Hover effect for buttons */
button:hover{
    scale: 1.05;
}
