<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/check.css">
    <title>ATM Login</title>
</head>
<body>
    <!-- Header section -->
    <div class="header">Welcome to ATM</div>
    
    <!-- Main content section -->
    <div class="main">
        <div class="container">
            <!-- Left section with image -->
            <div class="left">
                <img src="/static/credit_card.png" alt="Credit Card Image" id="card">
            </div>
            
            <!-- Right section with login form -->
            <div class="right">
                <form action="/submit" method="post" class="form">
                    <!-- Input fields for card holder name, card number, expiry date, and CVV -->
                    <input type="text" name="name" id="name" placeholder="Card Holder Name" required>
                    <input type="text" id="card_number" name="card_number" placeholder="Card Number" maxlength="19" oninput="this.value = this.value.replace(/\D/g, '').replace(/(.{4})/g, '$1-').substring(0, 19)" required>
                    <input type="text" id="expiry_date" name="expiry_date" placeholder="MM/YY" maxlength="5" oninput="this.value = this.value.replace(/\D/g, '').replace(/(.{2})/, '$1/').substring(0, 5)" required>
                    <input type="text" id="cvv" name="cvv" placeholder="CVV" maxlength="3" oninput="this.value = this.value.replace(/\D/g, '').substring(0, 3)" required>
                    
                    <!-- Submit button -->
                    <input type="submit" value="Enter Credentials">
                </form>
            </div>
        </div>
    </div>
</body>
</html>
